@import "../../../../../public/styles/variables.less";

.navbar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;

  .mat-drawer {
    width: 50%;
  }

  .navbar-menu-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    .menu-header {
      height: 100px;
      align-content: center;
      background-color: @navbar-header-bgcolor;

      img {
        width: 70px;
        margin-left: 10px;
      }

      span {
        width: 70px;
        height: 70px;
      }
    }

    .menu-content {
      flex-grow: 1;
      background-color: @navbar-content-bgcolor;

      .subheader {
        margin: 1rem 16px 0rem 16px;
        font-size: small;
        color: @navbar-content-font-color;
      }
    }

    .menu-footer {
      height: 30px;
      align-content: center;
      text-align: center;
      background-color: @navbar-footer-bgcolor;
      color: @navbar-footer-font-color;
    }
  }

  .navbar-page-content {
    mat-toolbar {
      background-color: @header-bgcolor;
      padding: 0rem;
      color: @header-font-color;
      font-size: medium;

      .head-spacer {
        flex: 1 1 auto;
      }

      .head-menu-button {
        margin-right: 5px;
        margin-left: 5px;
        color: @header-icon-color;
      }

      span {
        font-size: medium;
        margin-left: 0.5rem;
      }

      .head-undo-icon {
        margin-right: .5rem;
      }
    }
  }
}
