@import url(../../../../../../public/assets/styles/variables.less);

.score-sheet-configuration-container {
  padding: @padding-page-default;
  background-color: @bg-color-primary;

  .expansion-title {
    
  }

  .expasions-list {
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    height: 100%;
    flex-wrap: wrap;
    gap: 1rem .65rem;
    padding: @score-sheet-config-space-content;

    .button-toggle {
      width: 48%;
      background-color: @bg-color-toggle-off;
      font-family: @font-family-7wonder;
      border-radius: 0%;
      color: @text-color-toggle-off;
      border-color: @bg-color-btn-dark;
      letter-spacing: @letter-spacing-default;
    }

    .mat-button-toggle-checked {
      color: @text-color-toggle-on;
      background-color: @bg-color-toggle-on;
    }
  }

  .player-type {
    padding: @score-sheet-config-space-content;
    padding-bottom: 0%;

    .mat-toolbar-single-row {
      font-size: medium;
      padding: 0rem;
      height: 2rem;
      font-family: @font-family-7wonder;
    }

    .example-spacer {
      flex: 1 1 auto;
    }

    .players-action {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      button {
        font-family: @font-family-7wonder;
        height: 2.5rem;
        border-radius: 0;
        font-size: small;
        width: 45%;
        padding: 0;
        margin: 0;
        box-shadow: none;
        background-color: transparent;

        .mat-icon {
          scale: 0.8;
        }
      }
    }
  }

  .players-list {
    padding: @score-sheet-config-space-content;
    padding-top: 0rem;

    table {

      ::ng-deep .mat-mdc-header-row {
        height: 1rem !important;
        background-color: @bg-color-btn-dark !important; 
        color: @text-color-btn-gold !important; 
      }

      ::ng-deep .mat-mdc-footer-row {        
        height: 2.5rem !important;
        color: @text-color-btn-gold !important; 
      }

      th {
        font-family: @font-family-7wonder;
        font-size: small;
        height: 1rem;
      }

      td {
        font-size: small;
      }

      .mat-column-table-player {
        width: 150px;
      }     

      .mat-column-table-wonder {
        p {
          display: flex;
          align-items: center;
          gap: 0.1rem;

          mat-icon {
            scale: 0.6;
          }
        }
      }

      .mat-column-table-action {
        width: 30px;
        text-align: right;

        .mat-mdc-icon-button {
          color: @base-bgcolor-red;
        }
      }
    }

    .mat-mdc-table-sticky {
      border-top-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
      border-top-width: var(--mat-table-row-item-outline-width, 1px);
      border-top-style: solid;
    }

    .table-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.3rem;     

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;        
        background-color: transparent;
        scale: 0.8;
        border: none;
        box-shadow: none;
        color: @base-bgcolor-black;
        height: 2rem;
        width: 10rem;

        border-left: 1px solid @base-bgcolor-black;
        border-right: 1px solid @base-bgcolor-black;

        .mat-icon {
          // height: 19.5px;
          margin: 0;
          padding: 0;
        }
      }
    }

  }

  .start-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    button {
      width: 100%;
      height: 100%;
      background-color: @bg-color-btn-dark; 
      color: @text-color-btn-gold;
      border: none;
      padding: 15px 0;
      font-size: 18px;
      cursor: pointer;
      border-radius: 20px 20px 0px 0px;
    }

    .mdc-fab.mat-mdc-button-disabled {
      background-color: @score-sheet-config-start-button-bgcolor-disabled !important;
      color: @score-sheet-config-start-button-font-color-disabled !important;
    }
  }
}
