@import url(../../../../../../public/styles/variables.less);

.settings-configuration-container {
  padding: @padding-page-default;

  .page-title-wonder {
    padding: @score-sheet-config-space-content;
    padding-bottom: 0%;

    .mat-toolbar-single-row {
      font-size: medium;
      padding: 0rem;
      height: 2rem;
      font-family: @font-family-7wonder;      
    }

    .title-spacer {
      flex: 1 1 auto;
    }    
  }

  .games-list {
    padding: @score-sheet-config-space-content;
    padding-top: 0rem;
    margin-bottom: 1rem;

    .mat-expansion-panel-header{
      background-color: @accordion-header-bgcolor;

      .mat-expansion-panel-header-title{
        font-family: @font-family-7wonder;
        font-size: large;
      }
    }

    .game-wonders-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: .25rem;
      margin-right: .25rem;     
    }

    .expansion-label {
      background-color: @accordion-header-bgcolor;
      text-align: center;
      margin-top: 1rem;
      padding-top: .25rem;
      padding-bottom: .25rem;
    }

    .expansions-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: .5rem;
      margin-left: .25rem;
      margin-right: .25rem;

      .expansion-title {
        width: 100%;
        border-bottom-color: @border-bottom-color-default;
        border-bottom-width: @border-bottom-width-default;
        border-bottom-style: @border-bottom-style-default;

        text-align: left;
        font-family: @font-family-7wonder;
        // margin-bottom: .5rem;
        margin-top: 1rem;

        span {
          margin-left: 0rem;
        }
      }

      .expansion-title:first-of-type {
        margin-top: 0rem;
      }
    }

    .wonders-list {
      font-size: small;
      margin-bottom: .5rem;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      align-content: space-between;
      width: 100%;

      .wonder {
        border-color: @border-color-default;
        border-width: @border-width-default;
        border-style: @border-style-default;

        border-radius: 12px;
        margin: 0.5rem 0.5rem 0rem 0rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        min-width: 3rem;
        text-align: center;          
      }
    }

    ::ng-deep .mat-expansion-panel:first-of-type {
      margin-top: 1rem !important;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0rem 0rem 1rem 0rem !important;
    }

    ::ng-deep .mat-expanded{
        border-bottom-right-radius:0;
        border-bottom-left-radius: 0;
    }
  } 
}

