<ng-container *transloco="let t">
  @if (applicationStateIsReady()){
    <div class="settings-configuration-container">
        <div class="games-list">
            <mat-accordion>
                @for (game of gameList; track $index) {                
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" [expanded]="$index === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{game.name}}</mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="game-wonders-list">
                            <div class="wonders-list">
                                    @for (wonder of orderWondersList(game.wonders); track $index) {
                                        <div class="wonder">{{wonder.name}}</div>
                                    }
                            </div>
                        </div>
                        <div class="expansion-label">Expansions</div>
                        <div class="expansions-list">
                            @for (expansion of game.expansions; track $index) {
                                <div class="expansion-title">
                                    <app-title-bar                                         
                                        [title]="expansion.name"
                                    ></app-title-bar>
                                </div>
                                <div class="wonders-list">                                
                                    @for (wonder of orderWondersList(expansion.wonders); track $index) {
                                        <div class="wonder">{{wonder.name}}</div>
                                    }
                                </div>
                            }                            
                        </div> 
                    </mat-expansion-panel>                                  
                }
            </mat-accordion>
             
        </div>
    </div>
}
</ng-container>

