@import url(../../../../../../public/styles/variables.less);

.settings-application-container {
  padding: 0.5rem;

  .mat-mdc-card-header {
    border-bottom: 1px solid @base-bgcolor-black;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 16px 16px 0 0
  }

  .mat-mdc-card-title {
    font-size: medium;
    font-family: gameFont;
  }

  .mat-mdc-card-content {
    // border-top: 1px solid @base-bgcolor-black;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0rem;

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}