<ng-container *transloco="let t">
  @if (applicationStateIsReady()){
    <form [formGroup]="settingsForm">
        <div class="settings-application-container">
            <mat-card appearance="raised">
                <mat-card-content>
                    <div class="card-header">
                        <app-title-bar 
                            [action]="eTitleBarAction.NONE"    
                            [title]="t('pages.settings.application.preferences_title')"
                            [textSize]="'small'"
                        ></app-title-bar>
                    </div>
                        
                    <div class="language-list">
                        <mat-form-field>
                            <mat-label>{{t('pages.settings.application.application_language')}}</mat-label>
                            <mat-select formControlName="userLanguage">
                                <mat-select-trigger class="select-display">
                                    @let code = settingsForm.get('userLanguage')?.value;

                                    @if (code === 'OS') {
                                        <mat-icon>language</mat-icon>
                                        {{ t('pages.settings.application.application_language_default') }}
                                    } @else {
                                        @for (lang of languageList; track lang) {
                                            @if (lang.code === code) {
                                                <mat-icon [svgIcon]="lang.icon"></mat-icon> {{ lang.name }}
                                            }
                                        }
                                    }
                                </mat-select-trigger>

                                <mat-option value="OS">
                                    <mat-icon>language</mat-icon> {{ t('pages.settings.application.application_language_default') }}
                                </mat-option>

                                @for (language of languageList; track language) {
                                    <mat-option [value]="language.code">
                                    <mat-icon [svgIcon]="language.icon"></mat-icon>
                                    {{ language.name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
}
</ng-container>

