<ng-container *transloco="let t">
<div class="settings-configuration-container">
        <div class="player-title">
        <app-title-bar 
            [action]="eTitleBarAction.ADD_PLAYER"
            (returnAddPlayerDialogEmitted)="addPlayer($event)"
        ></app-title-bar>
        </div>
        <div class="players-list">
            
            @if (playersList.length > 0) {
                @for (player of playersList; track $index) {
                    <div class="item">
                        <app-card
                        [textLeft]="player.name"
                        [hasDelete]="true"
                        (deleteItemEmitted)="removePlayer($index)"
                        ></app-card>
                    </div>
                }
            }          
        </div>
    </div>
</ng-container>

