<ng-container *transloco="let t">
  @if (applicationStateIsReady()){
    <div class="settings-configuration-container">
        <div class="player-title">
        <mat-toolbar>
            <span>{{t("pages.settings.players.player_title")}}</span>
            <span class="title-spacer"></span>
            <button mat-icon-button (click)="openDialog($event)">
            <mat-icon>person_add</mat-icon>
            </button>
        </mat-toolbar>
        <mat-divider></mat-divider>
        </div>
        <div class="players-list">
            <table
                mat-table
                [dataSource]="playerDataSource"
                class="mat-elevation-z8"
            >
                <ng-container matColumnDef="table-player">
                <td mat-cell *matCellDef="let element">
                    <p>{{ element.name }}</p>
                </td>
                </ng-container>

                <ng-container matColumnDef="table-action">
                <td mat-cell *matCellDef="let element; let i = index">
                    <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                    (click)="removePlayer(i)"
                    >
                    <mat-icon>delete</mat-icon>
                    </button>
                </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
}
</ng-container>

