<ng-container *transloco="let t">
  <div class="dialog-add-player-content">
    <h2 mat-dialog-title cdkFocusInitial tabindex="0">
      <mat-icon>person_add</mat-icon>
      <span>{{t("dialogs.add_player")}}</span>
    </h2>
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>{{t("table_forms.players_name")}}</mat-label>
        @if(fromMatchPages()){
          <input
          type="text"
          matInput
          [formControl]="newPlayerControl"
          [matAutocomplete]="auto"
          required="true"
          />
          <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayFn"
        >
          @for (option of autoCompleteOptions | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        } @else {
          <input
          type="text"
          matInput
          [formControl]="newPlayerControl"
          required="true"
          />
        }
      </mat-form-field>
      @if(fromMatchPages()) {
          <mat-form-field>
          <mat-label>{{t("table_forms.wonders_name")}}</mat-label>
          <mat-select
            [(ngModel)]="selectedWonder"
            name="wonder"
            [multiple]="multipleWonders()"
          >
            @if(!multipleWonders()){
            <mat-option></mat-option>
            } @for (wonder of wonderList(); track wonder) {
            <mat-option [value]="wonder.name" [disabled]="!selectedWonder.includes(wonder.name) && selectedWonder.length >= 1 && selectedWonder.length >= 4">
              @if (wonder.icon) {
              <mat-icon>{{ wonder.icon }}</mat-icon>
              } @else {
              <mat-icon></mat-icon>}
              {{ wonder.name }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if(hasWonderSide()){
        <div class="wonder-side">
          <mat-label>{{t("table_forms.wonders_side")}}</mat-label>
          <span class="example-spacer"></span>
          <mat-slide-toggle
            #darkModeSwitch
            [(ngModel)]="wonderSide"
            [disabled]="!selectedWonder || selectedWonder.length === 0"
          ></mat-slide-toggle>
        </div>
        }
      }    
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onNoClick()">{{t("buttons.cancel")}}</button>
      @if(newPlayerControl) {
          <button
        mat-button
        (click)="onAddPlayer()"
        [disabled]="
          !newPlayerControl.valid ||
          (multipleWonders() && selectedWonder.length >= 1 && selectedWonder.length !== 4)
          "
      >
        {{t("buttons.add")}}
      </button>
      }
    </mat-dialog-actions>
  </div>
</ng-container>
