@font-face {
  font-family: gameFont;
  src: url(../fonts/PossumSaltareNF.ttf);
}

@action-bar-icon: "actionbar_icon.png";
@action-bar-bgcolor: rgb(147, 115, 84);
@action-bar-font-color: rgb(255, 255, 255);

@navbar-top-bgcolor: rgb(147, 115, 84);
@navbar-link-bgcolor: rgb(255, 255, 255);
@navbar-bottom-bgcolor: rgb(147, 115, 84);

@game-tools-menu-button-color: rgb(217, 211, 209);
@game-tools-menu-button-font-color: rgb(147, 115, 84);

@score-sheet-config-button-color: rgb(217, 211, 209);
@score-sheet-config-selected-button-color: rgb(136, 138, 144);
@score-sheet-config-selected-font-color: rgb(255, 255, 255);
@score-sheet-config-space-content: 0.5rem 0 0 0;
