@action-bar-icon: "actionbar_icon.png";

@action-bar-bgcolor: rgb(147, 115, 84);
@navbar-top-bgcolor: rgb(147, 115, 84);
@navbar-link-bgcolor: rgb(255, 255, 255);
@navbar-bottom-bgcolor: rgb(147, 115, 84);
