@import "../../../../public/styles/variables.less";

.score-sheet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 4rem;
  padding-top: 4rem;

  button {
    width: 80%;
    height: 5rem;
    font-size: large;
    font-weight: bold;
    background-color: @game-tools-menu-button-color;
    font-family: gameFont;
    color: @game-tools-menu-button-font-color;
  }
}
