<div class="grouped-input-container">
  <div
    class="sum-label"
    [class.hidden]="isEditing || sum === 0"
    (click)="hideLabel()"
  >
    {{ sum }}
  </div>

  @for(inputValue of values; track $index; let i = $index) {
  <div class="input-wrapper">
    <input appHammer
      type="number"
      [(ngModel)]="values[i]"
      (input)="onInputChange($event, i)"
      (focus)="onInputFocus($event)"
      (blur)="onInputBlur()"
      (panleft)="onSwipeLeft(i)"
      (panright)="onSwipeRight(i)"
      [readonly]="i === 3"
    />

    @if(i < values.length - 1){
    <div class="vertical-line"></div>
    }    

  </div>
  }


</div>
