<div class="grouped-input-container">
  <div
    class="sum-label"
    [class.hidden]="!displaySum || isEditing || score === 0"
    (click)="hideLabel()"
  >
    {{ score }}
  </div>
  @for(inputValue of values; track $index; let i = $index) {
  <div class="input-wrapper">
    <app-input-number-swipe
        [valueStage]="inputValue"    
        [score]="score"    
        [allowNegative]="allowNegative"
        [allowPositive]="allowPositive"
        [displaySingleNumber]="true"
        [isReadonly]="i === 3"
        (valuesChanged)="onChangeValues(i, $event)"
        (touchstart)="onTouchStart($event)"
        (blur)="onInputBlur()"
    >        
    </app-input-number-swipe>

    @if(i < values.length - 1){
    <div class="vertical-line"></div>
    }    
  </div>
  }
</div>
